<%include includes/_header%> 


<div class="container">
  <h1>Editar Clientes</h1>
  <a href="/agregar_cliente" class="btn btn-primary">Agregar Cliente</a><br><br>

  <table class="table table-striped">
      <thead>
        <tr>
        
            <th scope="col">Cedula/Rif</th>
            <th scope="col">Nombre y Apellido</th>
            <th scope="col">Telefono</th>
            

          <th scope="col">
            Eliminar
          </th>
        </tr>
      </thead>
      <tbody>
        <%  for(let i = 0; i < clientes.length; i++){ %>
            <tr>
              <td><%= clientes[i].cedula %></td>
              <td><a href="/cliente/<%=  clientes[i]._id %>"><%= clientes[i].nombreyapellido %></a></td>
            
              <td><%= clientes[i].telefono%></td>
              <td><a href="/cliente/eliminar/<%=  clientes[i]._id %>" class="btn btn-danger" >Eliminar</a></td>
            </tr>
         <% } %>
      </tbody>
    </table>
</div>




<%include includes/_footer%>